@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-primary: #d87d4a;
	--body-bg-color: #fafafa;
	--header-bg-color: #191919;
	--white: #fff;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Manrope', sans-serif;
	font-size: 1.6rem;
	min-height: 100vh;
	background: var(--body-bg-color);
}

a {
	color: var(--white);
	text-decoration: none;
}
